.App {
    margin: 0;
    padding: 16px;
    text-align: center;
}

@media (min-width: 1100px) {
    .App {
        padding: 28px;
    }
}

.AppHeader {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 0 20px;
}

.AppPosts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

@media (min-width: 1100px) {
    .AppPosts {
        flex-direction: row;
        align-items: flex-start;
    }
}
